
<footer class="don-footer don-section p-2 pb-5 border rounded">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center pt-4">
                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | <i class="icon-heart color-danger" aria-hidden="true"></i><a
                        rel="noreferrer" href="/t&c" target="_blank"> Don</a>
                </p>
            </div>
        </div>
    </div>
</footer>