<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Upadate addresss</h5>
                <button type="button" id='btn-close' class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="address" id="add_address" action="/add_address/user/" method="post" accept-charset="utf-8">
                <div class="modal-body">
                    <div id="msg"></div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" value="Home"
                                class="rounded btn btn-primary btn-sm bg-light mx-1 text-dark" list="titleList">
                            <datalist id="titleList">
                                <option value="Default">
                                <option value="Home">
                                <option value="Work">
                            </datalist>
                        </div>
                        <div class="d-flex flex-row justify-content-around w-50">
                            <label for="dft_address" class="d-flex flex-column justify-content-end mb-0">Default Address:
                            </label>
                            <div class="d-flex flex-column justify-content-end">
                                <input type="checkbox" id="dft_address" name="default" value=true checked
                                    class="mb-2 d-flex flex-column justify-content-end rounded btn btn-primary btn-sm bg-light mx-1 text-dark">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="countryCode">Country</label>
                            <input name="country" id="country" value=""
                                class="btn btn-primary btn-sm bg-light rounded text-dark mx-1" list="countryList"
                                onchange="change_myselect(this.value,'countyList',countries,0)">
                            <datalist id="countryList">
                                <option value="Kenya">Kenya</option>
                            </datalist>
                        </div>
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="county">County</label>
                            <input name="county" id="county"
                                class="btn btn-primary btn-sm bg-light rounded text-dark mx-1" list="countyList"
                                onchange="change_myselect(this.value,'constituencyList',countries,1)">
                            <datalist id="countyList">
                            </datalist>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="constituency">Constituency</label>
                            <input name="constituency" id="constituency"
                                class="btn btn-primary btn-sm bg-light rounded text-dark mx-1" list="constituencyList">
                            <datalist id="constituencyList">
                            </datalist>
                        </div>
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="location">Location</label>
                            <input type="text" id="location" name="location" value=""
                                class="rounded btn btn-primary btn-sm bg-light mx-1 text-dark" list="locationList">
                            <datalist id="locationList">
                            </datalist>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="neighbourhoodName">Estate/ Neighbourhood</label>
                            <input type="text" id="neighbourhoodName" name="neighbourhoodName" value=""
                                class="rounded btn btn-primary btn-sm bg-light mx-1 text-dark" list="nhList">
                            <datalist id="nhList">
                            </datalist>
                        </div>
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="street">Street/Avenue/Rd</label>
                            <input type="text" id="street" name="street" value=""
                                class="rounded btn btn-primary btn-sm bg-light mx-1 text-dark" list="streetList">
                            <datalist id="streetList">
                            </datalist>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="buildingName">Building Name/Court</label>
                            <input type="text" id="buildingName" name="buildingName" value=""
                                class="rounded btn btn-primary btn-sm bg-light mx-1 text-dark" autofocus="true"
                                list="buildingList">
                            <datalist id="buildingList">
                            </datalist>
                        </div>
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="suite">Suite/House Number</label>
                            <input type="text" id="suite" name="suite" value=""
                                class="rounded btn btn-primary btn-sm bg-light mx-1 text-dark">
                            <input type="hidden" id="long" name="long" value="">
                            <input type="hidden" id="lati" name="lati" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Upadate addresss</h5>
                <button type="button" id='btn-close' class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="paymentMethod" id="add_payment" action="/add_payment/user/" method="post"
                accept-charset="utf-8">
                <div class="modal-body">
                    <div id="msg"></div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column justify-content-between w-50">
                            <label for="method">Method</label>
                            <select id="method" name="method"
                                class="rounded btn btn-primary btn-sm bg-light mx-1 text-dark">
                                <option value="breviamPay_mpesa">Mpesa</option>
                                <option value="breviamPay_paypal">Paypal</option>
                                <option value="breviamPay_card">Card</option>
                            </select>
                        </div>
                        <div class="d-flex flex-row justify-content-around w-50">
                            <label for="default" class="d-flex flex-column justify-content-end mb-0">Default Address:
                            </label>
                            <div class="d-flex flex-column justify-content-end">
                                <input type="checkbox" id="default" name="default" value=true checked
                                    class="mb-2 d-flex flex-column justify-content-end rounded btn btn-primary btn-sm bg-light mx-1 text-dark">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column justify-content-between w-100">
                            <label for="phoneNoModal">Phone Number</label>
                            <input name="phoneNumber" id="phoneNoModal" value=""
                                class="btn btn-primary btn-sm bg-light rounded text-dark mx-1">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let countries = [{
        "country": "Kenya",
        "counties": [{
            "county": "Mombasa",
            "constituencies": ["Changamwe", "Jomvu", "Kisauni", "Nyali", "Likoni", "Mvita"]
        }, {
            "county": "Kwale",
            "constituencies": ["Msambweni", "Lunga Lunga", "Matuga", "Kinango"]
        }, {
            "county": "Kilifi",
            "constituencies": ["Kilifi North", "Kilifi South", "Kaloleni", "Rabai", "Ganze", "Malindi",
                "Magarini"
            ]
        }, {
            "county": "Tana River",
            "constituencies": ["Garsen", "Galole", "Bura"]
        }, {
            "county": "Lamu",
            "constituencies": ["Lamu East", "Lamu West"]
        }, {
            "county": "Taita-Taveta",
            "constituencies": ["Taveta", "Wundanyi", "Mwatate", "Voi"]
        }, {
            "county": "Garissa",
            "constituencies": ["Garissa Township", "Balambala", "Lagdera", "Dadaab", "Fafi", "Ijara"]
        }, {
            "county": "Wajir",
            "constituencies": ["Wajir North", "Wajir East", "Tarbaj", "Wajir West", "Eldas",
                "Wajir South"
            ]
        }, {
            "county": "Mandera",
            "constituencies": ["Mandera West", "Banissa", "Mandera North", "Mandera South",
                "Mandera East", "Lafey"
            ]
        }, {
            "county": "Marsabit",
            "constituencies": ["Moyale", "North Horr", "Saku", "Laisamis"]
        }, {
            "county": "Isiolo",
            "constituencies": ["Isiolo North", "Isiolo South"]
        }, {
            "county": "Meru",
            "constituencies": ["Igembe South", "Igembe Central", "Igembe North", "Tigania West",
                "Tigania East", "North Imenti", "Buuri", "Central Imenti", "South Imenti"
            ]
        }, {
            "county": "Tharaka-Nithi",
            "constituencies": ["Maara", "Chuka/Igambang'ombe", "Tharaka"]
        }, {
            "county": "Embu",
            "constituencies": ["Manyatta", "Runyenjes", "Mbeere South", "Mbeere North"]
        }, {
            "county": "Kitui",
            "constituencies": ["Mwingi North", "Mwingi West", "Mwingi Central", "Kitui West",
                "Kitui Rural", "Kitui Central", "Kitui East", "Kitui South"
            ]
        }, {
            "county": "Machakos",
            "constituencies": ["Masinga", "Yatta", "Kangundo", "Matungulu", "Kathiani", "Mavoko",
                "Machakos Town", "Mwala"
            ]
        }, {
            "county": "Makueni",
            "constituencies": ["Mbooni", "Kilome", "Kaiti", "Makueni", "Kibwezi West", "Kibwezi East"]
        }, {
            "county": "Nyandarua",
            "constituencies": ["Kinangop", "Kipipiri", "Ol Kalou", "Ol Jorok", "Ndaragwa"]
        }, {
            "county": "Nyeri",
            "constituencies": ["Tetu", "Kieni", "Mathira", "Othaya", "Mukurweini", "Nyeri Town"]
        }, {
            "county": "Kirinyaga",
            "constituencies": ["Mwea", "Gichugu", "Ndia", "Kirinyaga Central"]
        }, {
            "county": "Murang'a",
            "constituencies": ["Kangema", "Mathioya", "Kiharu", "Kigumo", "Maragwa", "Kandara",
                "Gatanga"
            ]
        }, {
            "county": "Kiambu",
            "constituencies": ["Gatundu South", "Gatundu North", "Juja", "Thika Town", "Ruiru",
                "Githunguri", "Kiambu", "Kiambaa", "Kabete", "Kikuyu", "Limuru", "Lari"
            ]
        }, {
            "county": "Turkana",
            "constituencies": ["Turkana North", "Turkana West", "Turkana Central", "Loima",
                "Turkana South", "Turkana East"
            ]
        }, {
            "county": "West Pokot",
            "constituencies": ["Kapenguria", "Sigor", "Kacheliba", "Pokot South"]
        }, {
            "county": "Samburu",
            "constituencies": ["Samburu West", "Samburu North", "Samburu East"]
        }, {
            "county": "Trans-Nzoia",
            "constituencies": ["Kwanza", "Endebess", "Saboti", "Kiminini", "Cherangany"]
        }, {
            "county": "Uasin Gishu",
            "constituencies": ["Soy", "Turbo", "Moiben", "Ainabkoi", "Kapseret", "Kesses"]
        }, {
            "county": "Elgeyo-Marakwet",
            "constituencies": ["Marakwet East", "Marakwet West", "Keiyo North", "Keiyo South"]
        }, {
            "county": "Nandi",
            "constituencies": ["Tinderet", "Aldai", "Nandi Hills", "Chesumei", "Emgwen", "Mosop"]
        }, {
            "county": "Baringo",
            "constituencies": ["Tiaty", "Baringo North", "Baringo Central", "Baringo South", "Mogotio",
                "Eldama Ravine"
            ]
        }, {
            "county": "Laikipia",
            "constituencies": ["Laikipia West", "Laikipia East", "Laikipia North"]
        }, {
            "county": "Nakuru",
            "constituencies": ["Molo", "Njoro", "Naivasha", "Gilgil", "Kuresoi South", "Kuresoi North",
                "Subukia", "Rongai", "Bahati", "Nakuru Town West", "Nakuru Town East"
            ]
        }, {
            "county": "Narok",
            "constituencies": ["Kilgoris", "Emurua Dikirr", "Narok North", "Narok East", "Narok South",
                "Narok West"
            ]
        }, {
            "county": "Kajiado",
            "constituencies": ["Kajiado North", "Kajiado Central", "Kajiado East", "Kajiado West",
                "Kajiado South"
            ]
        }, {
            "county": "Kericho",
            "constituencies": ["Kipkelion East", "Kipkelion West", "Ainamoi", "Bureti", "Belgut",
                "Sigowet–Soin"
            ]
        }, {
            "county": "Bomet",
            "constituencies": ["Sotik", "Chepalungu", "Bomet East", "Bomet Central", "Konoin"]
        }, {
            "county": "Kakamega",
            "constituencies": ["Lugari", "Likuyani", "Malava", "Lurambi", "Navakholo", "Mumias West",
                "Mumias East", "Matungu", "Butere", "Khwisero", "Shinyalu", "Ikolomani"
            ]
        }, {
            "county": "Vihiga",
            "constituencies": ["Vihiga", "Sabatia", "Hamisi", "Luanda", "Emuhaya"]
        }, {
            "county": "Bungoma",
            "constituencies": ["Mount Elgon", "Sirisia", "Kabuchai", "Bumula", "Kanduyi", "Webuye East",
                "Webuye West", "Kimilili", "Tongaren"
            ]
        }, {
            "county": "Busia",
            "constituencies": ["Teso North", "Teso South", "Nambale", "Matayos", "Butula", "Funyula",
                "Budalangi"
            ]
        }, {
            "county": "Siaya",
            "constituencies": ["Ugenya", "Ugunja", "Alego Usonga", "Gem", "Bondo", "Rarieda"]
        }, {
            "county": "Kisumu",
            "constituencies": ["Kisumu East", "Kisumu West", "Kisumu Central", "Seme", "Nyando",
                "Muhoroni", "Nyakach"
            ]
        }, {
            "county": "Homa Bay",
            "constituencies": ["Kasipul", "Kabondo Kasipul", "Karachuonyo", "Rangwe", "Homa Bay Town",
                "Ndhiwa", "Mbita", "Suba"
            ]
        }, {
            "county": "Migori",
            "constituencies": ["Rongo", "Awendo", "Suna East", "Suna West", "Uriri", "Nyatike",
                "Kuria West", "Kuria East"
            ]
        }, {
            "county": "Kisii",
            "constituencies": ["Bonchari", "South Mugirango", "Bomachoge Borabu", "Bobasi",
                "Bomachoge Chache", "Nyaribari Masaba", "Nyaribari Chache", "Kitutu Chache North",
                "Kitutu Chache South"
            ]
        }, {
            "county": "Nyamira",
            "constituencies": ["Kitutu Masaba", "West Mugirango", "North Mugirango", "Borabu"]
        }, {
            "county": "Nairobi",
            "constituencies": ["Westlands", "Kitisuru", "Parklands/Highridge", "Karura", "Kangemi",
                "Mountain View", "Dagoretti North", "Kilimani", "Kawangware", "Gatina",
                "Kileleshwa", "Kabiro", "Dagoretti South", "Mutu-ini", "Ngand'o", "Riruta",
                "Uthiru/Ruthimitu", "Waithaka", "Lang'ata", "Karen", "Nairobi West", "Mugumo-ini",
                "South C", "Nyayo Highrise", "Kibra", "Laini Saba", "Lindi", "Makina",
                "Woodley/Kenyatta Golf Course", "Sarang'ombe", "Roysambu", "Githurai",
                "Kahawa West", "Zimmerman", "Roysambu", "Kahawa", "Kasarani", "Clay City", "Mwiki",
                "Kasarani", "Njiru", "Ruai", "Ruaraka", "Babadogo", "Utalii", "Mathare North",
                "Lucky Summer", "Korogocho", "Embakasi South", "Imara Daima", "Kwa Njenga",
                "Kwa Reuben", "Pipeline", "Kware", "Embakasi North", "Kariobangi North",
                "Dandora Area I", "Dandora Area II", "Dandora Area III", "Dandora Area IV",
                "Embakasi Central", "Kayole North", "Kayole Central", "Kayole South", "Komarock",
                "Matopeni/Spring Valley", "Embakasi East", "Upper Savanna", "Lower Savanna",
                "Embakasi", "Utawala", "Mihang'o", "Embakasi West", "Umoja I", "Umoja II", "Mowlem",
                "Kariobangi South", "Makadara", "Makongeni", "Maringo/Hamza", "Harambee",
                "Viwandani", "Kamukunji", "Pumwani", "Eastleigh North", "Eastleigh South",
                "Airbase", "California", "Starehe", "Nairobi Central", "Ngara", "Ziwani/Kariokor",
                "Pangani", "Landimawe", "Nairobi South", "Mathare", "Hospital", "Mabatini",
                "Huruma", "Ngei", "Mlango Kubwa", "Kiamaiko"
            ]
        }]
    }]

    function createList(id, array) {
        var string = "";
        let list = document.getElementById(id);
        let options = [];
        array.forEach((element, index) => {
            let option = '<option value="' +
                element +
                '" data-index="' +
                index +
                '">' +
                element +
                "</option>";
            options.push(option);
        });
        for (var i = 0; i < options.length; i++) {
            string += options[i];
        }
        list.innerHTML = string;
    }

    function change_myselect(val, list, arr, level) {
        let array = [];
        switch (level) {
            case 0:
                arr.forEach((elem, index) => {
                    if (val == elem.country) {
                        elem.counties.forEach((elem1) => {
                            array.push(elem1.county);
                        })
                    }
                });
                createList(list, array);
                break;
            case 1:
                arr.forEach((elem, index) => {
                    if (elem.country == $('#country').val()) {
                        elem.counties.forEach((elem1) => {
                            if (elem1.county == val) {
                                array = elem1.constituencies;
                            }
                        })
                    }
                });
                createList(list, array);
                break;
        }
    }
</script>